# Laravel specific
/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

# Environment files
.env
.env.backup
.env.*.php

# Composer
composer.lock

# NPM / Yarn
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Testing / Coverage
phpunit.xml
.phpunit.result.cache

# Logs
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.sqlite
*.tgz
*.zip

# Laravel Mix
/public/hot
/public/mix-manifest.json
